@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* header */
  .list.list-address {
    flex-direction: row;
    gap: 40px;
  }

  /* HERO */
  .hero {
    padding: 188px 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_desk.jpg);
    max-width: 1440px;
    margin: 0 auto;
  }


  .hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 48px auto 0;
  }


  /* section 2 */
  .section-second {
    padding: 120px 0;
  }

  .section-second .list-section-second {
    gap: 24px;
  }

  .item-section-second {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .wrap-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .section-second .header-card {
    text-align: left;
    font-size: 20px;
  }


  /* section 3 */
  .section-third {
    display: flex;
    padding-bottom: 120px;
  }

  .header-second {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--NAVY-BLUE);
    letter-spacing: 0.02em;
    margin-bottom: 72px;
  }

  .item-section-third {
    flex-basis: calc((100% - 3 * 16px) / 3);
  }

  /* section 4 Our Team */
  .section-team {
    background-color: var(--CLOUD);
    padding: 120px 0;
  }

  .section-team .list-team {
    flex-wrap: nowrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .item-team-card {
    background-color: var(--WHITE);
    flex-basis: calc((100%-24*3)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .container-employee {
    padding: 32px 0;
  }

  .header-employee {
    text-align: center;
    margin-bottom: 8px;
  }

  .text-employee {
    text-align: center;
  }

  .list-social-employee {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
  }

  .item-social-employee {
    width: 40px;
    height: 40px;
  }

  .link-social-employee {
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-social-employee:hover,
  .link-social-employee:focus {
    background-color: var(--OCEAN);
  }

  .icon-social {
    fill: var(--CLOUD);
  }

  /* section 5 Customers  */
  .customers {
    margin: 0;
    padding: 120px 0;
    /* width: 1128px; */
  }

  .list-customers {
    gap: 24px;
  }

  .item-customers {
    width: calc((100% - 120px) / 6);
  }

  /* FOOTER */

  .footer .container {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .link-footer {
    margin-bottom: 16px;
  }

  .text-footer {
    max-width: 264px;
  }

  .logo-second {
    color: var(--CLOUD);
  }





  /* Portfolio Page */

  .main {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  /* list-wrap*/


  .list-wrap-apps .item-apps {
    width: calc((100% - 48px) / 3);
  }


}