h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}



/* NAV */
.navigate {
  display: flex;
  align-items: center;

}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;

}

header .logo-second {
  color: var(--NAVY-BLUE);
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu .link {
  color: var(--NAVY-BLUE);
  font-weight: 500;
  display: inline-block;
  padding: 24px 0;
  font-weight: 500;
}

.menu .link:hover {
  color: var(--OCEAN);
}

.link.link-item-header {
  position: relative;
  color: var(--OCEAN);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--OCEAN);
  border-radius: 2px;
  width: 100%;
}

.adr {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  margin-left: auto;
}

.item-address {
  display: flex;
  gap: 40px;
}

.link-address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover,
.link-address:focus {
  color: var(--OCEAN);
}

.list-address {
  gap: 40px;
}

address a {
  color: var(--SLATE);
}

/* Main Page - Studio */








/* Portfolio Page */

.main {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* FILTERS */
.ul-filter {
  justify-content: center;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-filter {
  background-color: var(--CLOUD);
  border: 1px solid var(--CORNFLOWER);
  color: var(--IRIS);
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--CORNFLOWER);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:active,
.btn:hover,
.btn:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border: 1px solid transparent;
}

/* list-wrap*/
.list-wrap-apps {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-apps {
  width: calc((100% - 48px) / 3);
}

.link-app {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-app:hover,
.link-app:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-app {
  position: relative;
  overflow: hidden;
}

.text-image-app {
  position: absolute;
  top: 0;
  color: var(--CLOUD);
  padding: 40px 32px;
  background-color: var(--IRIS);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-app:hover .text-image-app,
.link-app:focus .text-image-app {
  transform: translateY(0%);
}

.shot-description-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.header-card-apps {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  font-weight: 500;
  margin-bottom: 8px;

}

.text-card-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

/* FOOTER */
.footer {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-slogo {
  margin-right: 120px;
}

.link-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.text-footer {
  line-height: 1.5;
  color: var(--WHITE);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-second {
  color: var(--CLOUD);
}

.text-footer-social {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--WHITE);
}

.list-footer-social {
  gap: 16px;
}

.item-footer-social {
  width: 40px;
  height: 40px;
}

.link-footer-social {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-footer-social:hover,
.link-footer-social:focus {
  background-color: var(--GREEN);
}

.icon-footer-social {
  fill: var(--CLOUD);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer form */

.text-subscriber {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--WHITE);
}

.footer-subscriber-form {
  gap: 24px;
  display: flex;
}

.user-name {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--WHITE)
}

.user-name::placeholder {
  color: var(--WHITE);
}

.btn-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}

.icon-subscribe {
  margin-left: 16px;
  fill: var(--WHITE);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--DAIRY);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--OCEAN);
  border: none;
}

.modal-btn-icon {
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--WHITE);
}

.modal-caption {
  font-weight: 500;
  text-align: center;
  color: var(--NAVY-BLUE);
  margin-bottom: 16px;
}

.modal-box-general {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
  display: block;
  margin-bottom: 4px;
}

.modal-box {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: var(--NAVY-BLUE);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--IRIS);
  color: var(--IRIS);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
  fill: var(--IRIS);
}

.modal-comment-field {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment-field:focus {
  border-color: var(--IRIS);
}

.box-comment {
  margin-bottom: 16px;
}

.box-agreement {
  margin-bottom: 24px;
}

.user-agreement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-checkbox {
  margin-right: 8px;
}

.modal-agreement-input:checked+.user-agreement>.modal-checkbox {
  background-color: var(--OCEAN);
  border: none;
  fill: var(--CLOUD)
}

.modal-agreement-link {
  color: var(--IRIS)
}

.btn-submit {
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}