@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg_tab.jpg);
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }

  /* section 2 */
  .section-second .list-section-second {
    gap: 24px;
  }

  .item-section-second {
    flex-basis: calc((100% - 24px) / 2);
  }
  .section-second .header-card {
    text-align: left;
  }
}